---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="mb-12 mt-8">
	<nav class="flex items-center justify-between">
		<h2 class="text-lg font-bold tracking-tight">
			<a href="/" class="no-underline text-gray-400 hover:text-theme-accent transition-colors">{SITE_TITLE}</a>
		</h2>
		<div class="flex items-center text-sm">
			<HeaderLink href="/rabbitholes">Rabbitholes</HeaderLink>
            <span class="mx-3 text-gray-400 text-base">·</span>
			<HeaderLink href="/projects">Projects</HeaderLink>
		</div>
	</nav>
</header>
